.AdoptMain__img {
  max-height: 60vh;
}

.photoButtonsContainer {
  display: flex;
  align-content: center;
}

.AdoptMain__button {
  background-color: white;
  color: black;
  margin: 0 2rem;
  font-size: 3rem;
  border: none;
}

@media screen and (min-width: 425px) {
  .AdoptMain__div.body {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}

@media screen and (min-width: 768px) {
  /* .AdoptMain__img {
    width: 70%;
  } */
}