/* .photoLink .dog {
  background: url('%PUBLIC_URL%/Photo-by-Oleg-Ivanov-on-Unsplash.jpg');
}

.photoLink .cat {
  background: url('%PUBLIC_URL%/Photo-by-Oleg-Ivanov-on-Unsplash');
} */

.photoLink {
  min-height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
  text-emphasis: outline;
  opacity: 0.5;
  margin: 0.5rem 0;
}

.LinkContainer {
  display: flex;
  flex-direction: column;
}

.dog {
  background: center/100% url('./Photo-by-nrd-on-Unsplash.jpg');
  background-repeat: no-repeat;
}

.cat {
  background: center/100% url('./Photo-by-Oleg-Ivanov-on-Unsplash.jpg');
  background-repeat: no-repeat;
}

.photoLink:hover {
  opacity: 0.9;
}
/* resize so they fit in two boxes */
@media screen and (min-width: 425px) { 
  /* .HomeMain__div.photoLink {
    max-width: 50%;
  } */
  
  .LinkContainer {
    max-width: 100%;
    flex-direction: row;
  }   
}