.SignupMain__div.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.SignupMain__button {
  border: 2px solid gray;
  border-radius: 5px;
  background: white;
}